tr(id='#{titel_id}' class='movieSearchItem col-md-8 col-md-offset-2')
	th(class='col-md-2')
		img(class='col-md-12 img-responsive', src='#{poster_path}')
	td
		div(class='col-md-5 movieSearchItemText') #{original_title}
		div(class='col-md-4 movieSearchItemText') #{release_date}
		div(class='col-md-1 movieSearchItemText') #{vote_average}