tr(id='#{title_id}' class='personCreditItem')
	th(class='col-md-2')
		img(class='img-responsive', src='#{title_poster}')
	td(class='col-md-10')
		div(class='col-md-5 personCreditItemText') #{original_title}
		div(class='col-md-5 personCreditItemText') #{release_date}
		div(class='col-md-2 personCreditItemText') #{character_name}