tr(id='#{id}', class='youtubeVideoItem col-md-12')
	th(class='col-md-2')
		div() #{title}
		img(class='img-responsive', src='#{thumbnail}')
		.youttubeVideoItemText
			div() #{description}
			div() #{publishAt}

