extends layout

block content
	include partials/searchform
	.row(id='title')
		.col-md-8
			.row(id='tmdb.name')
				.col-md-5
					img(class='col-md-12 img-responsive', src='#{tmdb.image}')
				.col-md-7#person_title #{tmdb.name}
				.col-md-7
					div() Wikipedia
						.person_biography #{wikipedia}
			.col-md-12
				#iframediv
					!{selectedVideo}
			table(class='col-md-12')
				tbody
					!{personCredit}
		table(class='col-md-3')
			tbody
				!{youtubeData}
block scripts
	script(src='/javascripts/public_person.js')